
li{list-style: none;}
a{text-decoration: none;}


body{
	width:100%;
	height:100%;
	background-color: #353339;
	margin:0;
}

html{
	width:100%;
	height:100%;
	position:relative;
	background-color:pink;
	margin:0;
}
header{
	height:10%;
	background-color:#F6F1F2;
}
#left{
	height:85%;
	width:68%;
	/*background-color: #48120E;*/
	background-color:#56393F;
	float:left;
	margin:1%;

}
img{
	width:100%;
	height:100%;
}
#right{
	height:85%;
	width:28%;
	float:right;
	position:relative;
	background-color:white;
	margin:1%;
}
#menu1{
	background-color:#DEB3B6;
	height:33%;
	/*margin:2% 0 0 2%;*/
	/*padding:2%;*/
}
#menu2{
	background-color:#F2D2D5;
	height:33%;
	/*margin:2% 0 2% 2%;*/
	/*padding:2%;*/

}
#menu3{
	background-color:#FDE9EA;
	height:34%;
	/*margin:2%;*/
	/*padding:2%;*/
	/*margin:0 0 2% 2%;*/



}